/* Styl dla całej strony */
body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Styl dla głównego nagłówka */
h1 {
    color: #333333;
    text-align: center;
}

.wysrodkoj-h2 {
    color: #333333;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
}

.h2-2 {
    color: #333333;
    font-size: 26px;
    font-weight: 700;
}


/* Styl dla akapitów oznaczonych klasą .wazny-tekst */
.wazny-tekst {
    color: #e74c3c;
    font-weight: bold;
}
